<div class="shop-form">
  <p>
    <mat-toolbar>
      <mat-toolbar-row>
        <h4 *ngIf="!isEdit" mat-dialog-title>Add Employee</h4>
        <h4 *ngIf="isEdit" mat-dialog-title>Edit Employee</h4>
        <span class="header-spacer"></span>
        <button class="btn-dialog-close" mat-stroked-button tabIndex="-1" mat-dialog-close>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>

  <mat-dialog-content>
    <form [formGroup]="this.addEditEmployeeForm" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list [cols]="breakpoint" rowHeight="75px" (window:resize)="onResize($event)">
        <mat-grid-tile>
          <mat-form-field class="form-input w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder=" Enter First Name" formControlName="firstName" required
              (blur)="checkFormValidity()" />
            <mat-error>
              {{ formErrors?.firstName }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="form-input w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder=" Enter Last Name" formControlName="lastName" required
              (blur)="checkFormValidity()" />
            <mat-error>
              {{ formErrors?.lastName }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="form-input w-100" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder=" Enter Address" formControlName="address" (blur)="checkFormValidity()" />
            <mat-error>
              {{ formErrors?.address }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline" class="form-input w-100">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              {{ formErrors?.birthDate }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-input w-100" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput placeholder=" Enter Mobile No" formControlName="mobile" required
              (blur)="checkFormValidity()" />
            <mat-error>
              {{ formErrors?.mobile }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-input w-100" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder=" Enter City" formControlName="city" (blur)="checkFormValidity()" />
            <mat-error>
              {{ formErrors?.city }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-raised-button color="warn" type="reset" mat-dialog-close>
      Cancel
    </button>

    <button *ngIf="!isEdit" mat-raised-button color="accent" type="submit" [disabled]="
        this.addEditEmployeeForm.invalid || this.addEditEmployeeForm.untouched
      " mat-dialog-close="true" (click)="onSubmit()">
      Add
    </button>
    <button *ngIf="isEdit" mat-raised-button color="accent" type="submit" [disabled]="this.addEditEmployeeForm.invalid"
      mat-dialog-close="true" (click)="onSubmit()">
      Update
    </button>
  </mat-dialog-actions>
</div>