.d-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  color: #0087bc;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}
